* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #333;
    padding: 10px;
    width: 700px;
    height: 500px;
}

.bloco-esquerdo {
    float: left;
    width: 200px;
    height: 200px;
    background-color: crimson;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bloco-direito {
    float: right;
    width: 200px;
    height: 200px;
    background-color: navy;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.texto-final {
    clear: both;
    text-align: center;
    margin-top: 50px;
}